
# Dépendances
**/node_modules/

# Builds / sorties
**/dist/
**/build/
**/dist-ssr/

# Caches / outils
**/.cache/
**/.vite/
**/.nestjs/
**/.nyc_output/
**/.turbo/
**/.parcel-cache/
**/*.tsbuildinfo

# Logs
**/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Tests / coverage
**/coverage/
**/.coverage

# Secrets / environnements
**/.env
**/.env.*
!**/.env.example

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE / éditeurs
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Perso
DocumentPerso/